@model Warsztat.Models.UserModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@{
    var user = (Warsztat.Models.Users)Session["User"];
}

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Users.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Roles.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Roles.RoleName)
        </dd>
    </dl>

    <hr />

    <table class="table">
        <tr>
            <th>
                @Html.Raw("Street")
            </th>
            <th>
                @Html.Raw("Number")
            </th>
            <th>
                @Html.Raw("City")
            </th>
            <th>
                @Html.Raw("Post Code")
            </th>
        </tr>

        @foreach (var item in Model.Addresses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
            </tr>
        }
    </table>

    <p>
        @Html.ActionLink("Add address", "Create", "Addresses")
    </p>

    <hr />

    <table class="table">
        <tr>
            <th>
                @Html.Raw("Brand")
            </th>
            <th>
                @Html.Raw("Model")
            </th>
            <th>
                @Html.Raw("RegistrationNo")
            </th>
            <th>
                @Html.Raw("ProductionDate")
            </th>
            <th>
                @Html.Raw("Mileage")
            </th>
            <th>
                @Html.Raw("InService")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Cars)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mileage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InService)
                </td>
                <td>
                    @if (user.ID_role == 2)
                    {
                        @Html.ActionLink("Edit", "Edit", "Cars", new { id = item.ID_car }, new { })
                    }|
                    @Html.ActionLink("Details", "Details", "Cars", new { id = item.ID_car }, new { }) |
                    @Html.ActionLink("Delete", "Delete", "Cars", new { id = item.ID_car }, new { }) |
                </td>
            </tr>
        }

    </table>

    <p>
        @Html.ActionLink("Add car", "Create", "Cars")
    </p>

    <hr />

    <table class="table">
        <tr>
            <th>
                @Html.Raw("Order number")
            </th>
            <th>
                @Html.Raw("Order Date")
            </th>
            <th>
                @Html.Raw("Price")
            </th>
            <th>
                @Html.Raw("Status")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Orders)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus.StatusName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Orders", new { id = item.ID_order }, new { }) |
                    @{

                        if (user.ID_role == 2)
                        {
                            @Html.ActionLink("Edit", "Edit", "Orders", new { id = item.ID_order }, new { })
                        }
                    }
                </td>
            </tr>
                        }

    </table>

</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Users.ID_user }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
